<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Url Shortner</title>
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <label for="url" class="form-heading"><%= shortened %></label>
            <br>
            <div class="form-control">
                <input type="url" name="url" placeholder="Enter your URL">  
            <br>
            <button type="submit" class="btn">Submit</button>
            </div>
            
        </form>
    </div>
</body>
</html>
